.toolbar {
    background-color: #F0F0F0;
    max-width: 300px;
    width: 100%;
    padding: 10px;
    height: 90vh;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #ee5c33cc;
    margin: 10px 0;
}

.selectedFontFamilyBlock {
    display: inline-block;
}

.selectedFontFamily {
    border: none;
    font-size: 16px;
    margin-right: 5px;
    padding: 4px 5px;
    border-radius: 5px;
    width: 170px;
}

.selectedFontSizeBlock {
    display: inline-block;
}

.selectedFontSize {
    border: none;
    font-size: 16px;
    margin-right: 5px;
    padding: 4px 5px;
    border-radius: 5px;
}

.textSettings {
    display: flex;
    gap: 5px;
    margin: 10px 0;
}

.selectedFigureType {
    border: none;
    font-size: 16px;
    margin-right: 5px;
    padding: 4px 5px;
    border-radius: 5px;
    width: 170px;
}

.backgroundColor {
    width: 28px;
    height: 28px;
    background-image: url('/src/img/background-color.svg');
    background-size: 28px;
    background-repeat: no-repeat;
    background-color: unset;
    margin: 3px 5px 0 0;
    display: inline-block;
}

.backgroundColorInput {
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.color {
    width: 32px;
    height: 32px;
    background-image: url('/src/img/color.svg');
    background-size: 32px;
    background-repeat: no-repeat;
    background-color: unset;
    display: inline-block;
    margin-right: 5px;
}

.colorInput {
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.link {
    border: none;
    font-size: 16px;
    margin-right: 5px;
    padding: 4px 5px;
    border-radius: 5px;
    width: 170px;
    position: relative;
    top: 5px;
}

.fileLabel {
    width: 32px;
    height: 32px;
    background-image: url('/src/img/download.svg');
    background-size: 32px;
    background-repeat: no-repeat;
    background-color: unset;
    display: inline-block;
}

.fileLabel:hover {
    background-image: url('/src/img/download-orange.svg');
}

.file {
    opacity: 0;
    width: 32px;
    margin: 0;
    padding: 0;
    height: 32px;
}