@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

.TopPanel {
    height: 50px;
    background-color: #2C2C44;
    padding: 20px;
}

.logo {
    font: 48px/1 'Lato', sans-serif;
    margin: 0;
    color: #ffffff;
}
