button {
    background-color: #36364E;
    border: none;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    padding: 4px 7px;
    border-radius: 5px;
}

.saveButton {
    background-color: #36364E;
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.saveButton:hover {
    background-color: #22223A;
}

.textButtonBlock {
    margin-bottom: 10px;
}

.boldButtonBlock {
    display: inline-block;
}

.boldButton {
    width: 32px;
    height: 32px;
    background-image: url('/src/img/bold.svg');
    background-size: 32px;
    background-repeat: no-repeat;
    background-color: unset;
    cursor: pointer;
}

.boldButton:hover {
    background-image: url('/src/img/bold-orange.svg');
}


.italicButtonBlock {
    display: inline-block;
}

.italicButton {
    width: 32px;
    height: 32px;
    background-image: url('/src/img/italic.svg');
    background-size: 32px;
    background-repeat: no-repeat;
    background-color: unset;
    cursor: pointer;
}

.italicButton:hover {
    background-image: url('/src/img/italic-orange.svg');
}

.underlineButtonBlock {
    display: inline-block;
}

.underlineButton {
    width: 32px;
    height: 32px;
    background-image: url('/src/img/underline.svg');
    background-size: 32px;
    background-repeat: no-repeat;
    background-color: unset;
    cursor: pointer;
}

.underlineButton:hover {
    background-image: url('/src/img/underline-orange.svg');
}

.deleteButton {
    width: 32px;
    height: 32px;
    background-image: url('/src/img/trash.svg');
    background-size: 32px;
    background-repeat: no-repeat;
    background-color: unset;
    cursor: pointer;
}

.deleteButton:hover {
    background-image: url('/src/img/trash-orange.svg');
}

.canvasSizeButtonBlock {
    display: inline-block;
    margin-left: 5px;
}